* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* nav */
nav {
  position: fixed;
  width: 1900px;
  height: 56px;
  clear: both;
  background: #fff;
}

#masthead {
  margin: 0 20px 0 20px;
  width: auto;
  background: white;
  height: 40px;
  padding-top: 15px;
}

#ham {
  display: inline-block;
}

#logo {
  display: inline-block;
  padding-left: 30px;
  padding-right: 450px;
}

#search {
  padding-left: 200px;
  padding-bottom: 10px;
  position: absolute;
  top: 10px;
  border: 1px solid #ccc;
}

#apps {
  display: inline-block;
  position: absolute;
  left: 90%;
  top: 3px;
}

#more {
  display: inline-block;
  position: absolute;
  left: 93%;
  top: 3px;
}

#login {
  display: inline-block;
  position: absolute;
  left: 97%;
  top: 17px;
}

#search-button {
  display: inline-block;
  position: absolute;
  left: 48.3%;
  border: 1px solid #ccc;
  width: 40px;
  height: 23px;
  top: 9.5px;
  text-align: center;
  padding-top: 2px;
  background: white;
  top: 0px;
}

#voice-input {
  display: inline-block;
  position: absolute;
  left: 52%;
  top: 3px;
}
/* aside */
aside {
  float: left;
  position: fixed;
  margin-top: 60px;
  width: 250px;
  height: 900px;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

aside:hover {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

aside div:hover {
  background: lightgray;
}

.material-icons {
  line-height: auto;
  font-size: 14px;
  margin: 10px 20px;
}

aside hr {
  border: 1px solid #ccc;
}

aside .word {
  position: absolute;
  margin-top: 15px;
}

aside p {
  margin-left: 20px;
  margin-top: 10px;
}

#description {
  width: 200px;
}

#aside-login {
  margin: 20px 20px;
}
/* main */
section {
  float: right;
  background: lightgray;
  width: 1623px;
  height: auto;
  position: absolute;
  top: 4%;
  right: 1%;
  left: 13.5%;
  z-index: -1;
}

section #content {
  width: 1623px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gap {
  margin-top: 20px;
  margin-left: 44px;
  margin-bottom: 20px;
}

section hr {
  border: 3px solid darkgray;
  width: 1545px;
  margin-left: 42px;
}

/* footer */

footer div {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}
